<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header center">
        <div class="header__left">
            <a href="/" class="logo">
                Resume Builder.
            </a>
        </div>
        <div class="header__right">
            {% if user_is_authenticated %}
            <form action="/logout"><button class="header__button">Log Out</button></form>
            {% endif %}
        </div>
    </header>

    {% block content %}

    {% endblock content %}

</body>

</html>
