<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header center">
        <div class="header__left">
            <span class="logo">
                Resume Builder.
            </span>
        </div>
        <div class="header__right">
            <a href="#" class="header__link">Log In</a>
            <button class="header__button">Sign Up</button>
        </div>
    </header>

    {% block content %}

    {% endblock content %}

</body>

</html>
